.fade {
  opacity: 1;
}
.fade-in.ng-enter {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.fade.ng-enter {
  opacity: 0;
}
.fade.ng-enter-active {
  opacity: 1;
}
.fade.ng-leave {
  opacity: 1;
}
.fade.ng-leave-active {
  opacity: 0;
}