<div class="login" ng-controller="loginCtrl">
    <form name="loginForm" ng-submit="submit(loginForm.$valid)">
        <h1 class="center white">Login</h1>
        <input type="text" placeholder="Username" ng-model="username" required>
        <input type="password" placeholder="Password" ng-model="password" required>
        <button type="submit" class="btn btn-primary btn-block btn-large" ng-disabled="username.$invalid || password.$invalid">Let me in!</button>
    </form>
</div>